Input {
    height: 32px;
    /* margin-top: -5px; */
}

.title{
    background-color: rgb(245, 238, 238);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.title-heading {
    /* display: flex; */
    align-items: center;
    column-gap: 1rem;
    max-width: 40rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #645f5f;
    margin: auto;
    display: flex;
    font-size: 27px;
  }
  
  .title-heading::before,
  .title-heading::after {
    flex: 1;
    content: "";
    height: .2rem;
    border-block: .15rem solid #e5e5e5;
  }

  .user-table{
    margin-top: 30px;
    height: 300px;
    width: 500px;
    margin-left: 30px;
  }
