* {
  font-family: sans-serif !important;
}

.studio {
  display: flex;
}
.studio-dashboard {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  margin-left: -20px;
  /* min-width: 50%; */
}
.studio-left {
  width: 30%;
  height: auto;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
}
.studio-right {
  width: 70%;
  height: auto;
  /* background-color: rgb(102, 80, 80); */
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.studio-left h1 {
  font-size: 20px;
  color: #001526;
  font-family: sans-serif;
  font-weight: bold;
}
.left-heading {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 55px;
}
.v-line {
  width: 3px;
  height: 25px;
  background-color: #001526;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -8px;
}
.right-heading {
  width: auto;
  height: 50px;
  /* background-color: #7f888f; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-info {
  display: flex;
  /* background-color: rgb(233, 233, 233); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.user-picture {
  width: 37px;
  height: 33px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  /* margin-top: 7px; */

  margin-right: 7px;
}
.user-name {
  color: #001526;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
}
.user-role {
  color: grey;
  font-size: 13px;
  display: flex;
  justify-content: end;
  margin-right: 7px;
}
.status-info-card {
  display: flex;
  width: 93%;
  min-width: 200px;
  background-color: white;
  height: 20%;
  border-radius: 20px;
  margin-top: -40px;
}
.info-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  /* height: 10vh; */
  overflow-y: auto;
}
.card-name1 {
  font-weight: bold;
  color: #001526;
  font-size: 16px;
  /* margin-bottom: 10px; */
}
.card-name2 {
  font-weight: bold;
  font-size: 12px;
  display: flex;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  /* padding: 16px; */
  font-family: sans-serif;
}
.circle1 {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
}
.circle2 {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #dc3545;
  margin-right: 10px;
}
.circle3 {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #343a40;
  margin-right: 10px;
}
.circle4 {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 10px;
}
.ant-picker .ant-picker-input > input:placeholder-shown {
  text-overflow: ellipsis;
  width: 236px;
}
.ant-picker .ant-picker-input > input {
  position: relative;
  display: inline-block;
  width: 236px;
  color: inherit;
  font-size: 14px;
  line-height: 1.5714285714285714;
  transition: all 0.2s;
  flex: auto;
  min-width: 1px;
  height: auto;
  padding: 0;
  background: transparent;
  border: 0;
  font-family: inherit;
}
.ant-picker-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  /* line-height: 1.5714285714285714; */
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  pointer-events: auto;
  position: absolute !important; /* Use absolute positioning for dynamic placement */
  z-index: 1050;
  max-width: 100%;
  min-width: 288px;
  position-try-options: flip-inline;
  inset-inline-start: auto;
  left: 316.641px;
}
.slot-row {
  max-width: 170px;
  width: 100%;
  height: 90vh;
  /* background-color: rgb(253, 253, 253); */
  gap: 20px;
  margin-right: 20px;
}
.slot-name {
  height: 45px;
  background-color: #d02022;
  border-radius: 25px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.slot-name h5 {
  font-size: 12px;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1.3px;
  margin-top: 5px;
}
.slot-name p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 13px;
}
.slot-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 170px;
  height: 78px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Add this to your CSS file */
.slot-card.booked {
  background-color: rgb(212, 154, 154);
}

.clickedSlot {
  cursor: pointer;
  border: 1px solid rgb(51, 255, 0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: rgb(180, 218, 191);
  background-color: #001526;
  color: white;
}
.slotNotSelected {
  background-color: white;
}

.slot-time {
  color: #001526;
  font-weight: bold;
  font-size: 14px;
}
.slot-status {
  font-size: 12px;
  color: #001526;
}
.card-name2 span {
  font-family: sans-serif;
}

/* studio  */
.studio-settings {
  width: 100%;
  display: flex;
  background-color: #e2e8ec;
  height: 100vh;
  margin-left: -20px;
  flex-direction: column;
}
.studio-heading {
  font-weight: bold;
  color: #001526;
  font-size: 20px;
  padding: 10px;
}
.studio-dropdown {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  /* border: 3px solid black; */
}
.studio-dropdown Select {
  width: 200px !important;
}
.studio-record {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.styled-table {
  background: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.styled-table .ant-table-thead > tr > th {
  background: #001529;
  color: #fff;
  font-weight: bold;
}

.styled-table .ant-table-tbody > tr > td {
  background: #fff;
  color: #333;
}

.status-active {
  color: green;
}

.status-inactive {
  color: red;
}
.labelTop {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}
.dynamicButton {
  margin-left: -35px;
  margin-top: -58px;
  position: absolute;
  background-color: #001529;
  color: white;
}
.dynamicButton :hover {
}

.small-dynamic-button {
  width: 100px;
  height: 80px;
  background-color: #001526;
  display: flex;
  margin-left: -102px;
  margin-top: -44px;
  /* justify-content: center; */
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
}
.set {
  font-size: 11px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid grey;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.slotTime {
  color: #e7ebee;
  font-weight: bold;
  font-size: 14px;
}
.slotStatus {
  font-size: 12px;
  color: #c2c6c9;
}
.triangle {
  width: 10px;
  height: 10px;
  background-color: #001526;
  margin-top: -69px;
  rotate: 45deg;

  /* position: absolute; */
  margin-left: -10px;
}
.ant-modal-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* width: 400px; */
}
/* Studio.css */
.selected-subtopic {
  background-color: lightgreen;
}

.highlighted-row td {
  /* border: 1px solid red;
  color: red; */
}
.highlighted-row .ant-table-cell {
  color: red !important;
}
